.header-container {
  width: 900px; /* Alterar depois */
  max-width: 80dvw;
  margin: 0 auto;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

    h1 {
      font-size: 2.75rem;
      cursor: pointer;
      background: #fff;
      color: #000;
      padding: 10px;
      transition: 0.2s ease-in-out;

      &:hover {
        background: #000;
        color: #fff;
      }
    }

    ul {
      display: flex;
      gap: 15px;
      font-size: 1.125rem;

      li {
        background: #fff;
        color: #000;
        padding: 10px;
        cursor: pointer;
        border-radius: 2px;
        transition: 0.15s ease-in-out;

        &:hover {
          background: #000;
          color: #fff;
          transition: 0.15s ease-in-out;
        }
      }
    }
  }
}
