@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

body {
  /* display: flex; */
  width: 100dvw;
  /* justify-content: center; */
  overflow-x: hidden;
  /* height: 200dvh; */
}

.container {
  width: 900px;
  max-width: 80dvw; /* Alterar depois */
  margin: 0 auto;
  /* border: 1px solid red; */

  .in-progress-container {
    position: absolute;
    width: 900px;
    max-width: 80dvw;
    text-align: center;
    padding: 10px;
    background: #000000e8;
    z-index: 10;
    rotate: -10deg;

    h1 {
      font-size: 4rem;
      color: #fff;
    }
  }

  .projects-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      top: -40px;
      height: 3px;
      align-self: center;
      display: block;
      background: #000;
    }

    h2 {
      font-size: 2.5rem;
      padding: 10px;
      cursor: pointer;
      display: inline-block;
      position: relative;
      /* align-self: flex-end; */
      mix-blend-mode: difference;
      background: #fff;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 0;
        height: 100%;
        background: #fff;
        transition: width 0.2s ease;
        mix-blend-mode: difference;
      }

      &:hover::after {
        width: 100%;
      }
    }
    .projects-cards {
      display: flex;
      align-items: flex-start;
      margin-top: 1rem;
      gap: 5px;

      .card-projects {
        /* padding: 10px; */
        flex: 1;
        font-weight: 500;
        border: 1px solid black;
        cursor: pointer;
        transition: 0.1s ease-in-out;

        &:hover .card-img p {
          width: 100%;
          display: block;
          transition: 0.1s ease-out;
          padding: 10px;
        }

        p {
          padding: 10px;
        }

        &:hover {
          background: #000;
          color: #fff;
          box-shadow: 0px 3px 10px -6px rgba(0, 0, 0, 0.75);
        }

        .card-img {
          display: flex;
          align-items: center;
          /* border-bottom: 1px solid #000; */
          justify-content: center;
          color: #fff;

          p {
            width: 0%;
            font-size: 0.75rem;
            display: none;
            padding: 10px;
            /* display: none; */
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

.about {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  /* gap: 10px; */
  /* padding: 20px; */
  background: white;

  .dwight-image img {
    width: 400px;
    /* rotate: -15deg; */
    /* border: 1px solid red; */
    animation: 3s levitate infinite ease-in-out;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

.about h1 {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 3.75rem;
  color: white;
  mix-blend-mode: difference;
  padding: 10px;
}

.about h1::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: width 0.2s ease;
  mix-blend-mode: difference;
  /* animation: widthAnima 0.3s forwards; */
}

.about h1:hover::after {
  width: 100%;
}

.about p {
  position: relative;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 10px;
}

.about p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: width 0.3s ease;
  mix-blend-mode: difference;
}

.about h1:hover + p::after,
p:hover::after,
h1:has(+ p:hover)::after {
  width: 100%;
}

@keyframes widthAnima {
  to {
    width: 100%;
  }
}

h1.anima::after,
p.anima::after {
  animation: widthAnima 0.3s forwards;
}

@media (max-width: 600px) {
  body {
    /* overflow-x: hidden; */

    .container {
      /* border: 1px solid red; */
      min-width: 100vw; /* Alterar depois */
      .about {
        margin-top: 1rem;
        .dwight-image img {
          display: none;
        }
      }

      .about h1 {
        text-align: center;
        font-size: 2rem;
        color: white;
        mix-blend-mode: difference;
        padding: 10px;
      }
      .about p {
        font-size: 1.15rem;
        cursor: pointer;
        padding: 10px;
      }

      .projects-section {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        position: relative;

        &::before {
          top: -24px;
        }

        h2 {
          font-size: 2rem;
          padding: 10px;
          cursor: pointer;
        }

        .projects-cards {
          display: grid;
          padding: 5px;
          /* width: 100dvw; */
          margin-top: 0px;

          .card-projects {
            /* padding: 10px; */
            flex: 1;
            font-weight: 500;
            border: 1px solid black;
            cursor: pointer;
            transition: 0.1s ease-in-out;

            &:hover .card-img p {
              width: 100%;
              display: block;
              transition: 0.1s ease-out;
              padding: 10px;
            }

            p {
              padding: 10px;
            }

            &:hover {
              background: #000;
              color: #fff;
              box-shadow: 0px 3px 10px -6px rgba(0, 0, 0, 0.75);
            }

            .card-img {
              display: flex;
              align-items: center;
              /* border-bottom: 1px solid #000; */
              justify-content: center;

              p {
                width: 0%;
                font-size: 0.75rem;
                display: none;
                padding: 10px;
                /* display: none; */
                transition: 0.3s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
