@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul li {
  list-style: none;
}

body {
  /* display: flex; */
  width: 100dvw;
  /* justify-content: center; */
  overflow-x: hidden;
  height: 200vh;
}

.container {
  width: 900px;
  max-width: 80dvw; /* Alterar depois */
  margin: 0 auto;
  /* border: 1px solid red; */

  .in-progress-container {
    position: absolute;
    width: 900px;
    max-width: 80dvw;
    text-align: center;
    padding: 10px;
    background: #000000e8;
    z-index: 10;
    rotate: -10deg;

    h1 {
      font-size: 4rem;
      color: #fff;
    }
  }

  .projects-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      top: -40px;
      height: 3px;
      align-self: center;
      display: block;
      background: #000;
    }

    h2 {
      font-size: 2.5rem;
      padding: 10px;
      cursor: pointer;
      display: inline-block;
      position: relative;
      /* align-self: flex-end; */
      mix-blend-mode: difference;
      background: #fff;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 0;
        height: 100%;
        background: #fff;
        transition: width 0.2s ease;
        mix-blend-mode: difference;
      }

      &:hover::after {
        width: 100%;
      }
    }
    .projects-cards {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      margin-top: 1rem;

      .card-projects {
        /* padding: 10px; */
        flex: 1;
        font-weight: 500;
        border: 1px solid black;
        cursor: pointer;
        transition: 0.1s ease-in-out;

        &:hover .card-img p {
          width: 100%;
          display: block;
          transition: 0.3s ease-out;
          padding: 10px;
        }

        p {
          padding: 10px;
        }

        &:hover {
          background: #000;
          color: #fff;
          box-shadow: 0px 3px 10px -6px rgba(0, 0, 0, 0.75);
        }

        .card-img {
          display: flex;
          align-items: center;
          /* border-bottom: 1px solid #000; */
          justify-content: center;

          p {
            width: 100%;
            font-size: 0.75rem;
            /* display: none; */
            padding: 10px;
            /* display: none; */
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

.about {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  text-align: left;
  /* gap: 10px; */
  /* padding: 20px; */
  background: white;

  .dwight-image img {
    width: 500px;
  }
}

.about h1 {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 3.75rem;
  color: white;
  mix-blend-mode: difference;
  padding: 10px;
}

.about h1::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: width 0.2s ease;
  mix-blend-mode: difference;
}

.about h1:hover::after {
  width: 100%;
}

.about p {
  position: relative;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 10px;
}

.about p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: width 0.3s ease;
  mix-blend-mode: difference;
}

.about h1:hover + p::after,
p:hover::after,
h1:has(+ p:hover)::after {
  width: 100%;
}
